html {
    height: 100%;
}

body {
    margin: 0px;
    background-color: #121212;
    color: #fff;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #353535;
    border: 1px solid #ddd;
    padding: 20px;
    width: 25%;
    padding: 5% 1% 5% 1%;
}

input {
    display: block;
    width: 100%;
    margin: 5px;
    padding: 12px;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: #1c1c1c;
    color: #fff;
    border: 1px solid #ddd;
}

input[type="submit"] {
    background-color: #1c1c1c;
    cursor: pointer;
    color: #fff;
}

input[disabled] {
    background-color: #797979;
}

input[disabled]::placeholder {
    color: #212121;
}

a {
    text-decoration: none;
    color: #fff;
    margin-top: 15px;
}

p.error {
    color: #FF0000;
}